@model Judicial_system.Data.Task

@{
    ViewData["Title"] = "Task Details";
}

<h1>@Model.Title</h1>

<div>
    <strong>Description:</strong> @Model.Description
</div>
<div>
    <strong>Unit Test Code:</strong> @Model.UnitTestCode
</div>
<div>
    <strong>Created At:</strong> @Model.CreatedAt.ToString("g")
</div>
<div>
    <strong>Тип на задачата:</strong> @Model.Type
</div>

<form asp-action="Create" asp-controller="Submission" method="post">
    <input type="hidden" name="TaskId" value="@Model.Id" />

    <label for="SourceCode">Вашият код:</label>
    <textarea id="SourceCode" name="SourceCode" class="form-control" required style="width:100%; height:200px;"></textarea>

    <br />
    <button type="submit" class="btn btn-primary">Изпрати</button>
</form>


<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
